body {
  background-color: #161616;
  font-size: 10pt;
  font-family: Courier New, Arial;
  color: #fff;
  line-height: 12pt;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
}

h1 {
  font: 20pt Times New Roman, Arial;
  font-weight: bold;
  line-height: 20pt;
}

div {
  background-color: #0C0C0C;
  width: 100px;
  height: 100px;
  border-style: dashed;
}

.list {
  background-color: #0C0C0C;
  border-style: dashed;
}


p {
  font-size: 12pt;
  font-weight: bold;
  color: #22A523;
}

ul {
  list-style-type: square;
  padding: 5; 
  margin: 5; 
}

ul li {
  border: no-border;
  background-color: #0C0C0C
   padding: 12px; 
}

ol {
  list-style-type: lower-latin; 
  padding: 5; 
  margin: 5; 
}

ol li {
  border: no-border;
  background-color: #0C0C0C
   padding: 12px;
}
